# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

# Supabase project settings
SUPABASE_URL=https://spfdrbkkdgsiqjkprxnp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
SUPABASE_AVATAR_BUCKET=customer-avatars
SUPABASE_PASSPORT_BUCKET=customer-passports
SUPABASE_DOCUMENT_TEMPLATE_BUCKET=document-templates
SUPABASE_DOCUMENT_TEMPLATE_UPLOAD_BUCKET=document-template-uploads
SUPABASE_DOCUMENT_SIGNATURE_BUCKET=document-signatures
TELEGRAM_BOT_TOKEN=
TELEGRAM_DEFAULT_OBJECT_ID=1
TELEGRAM_WEBHOOK_SECRET=6f6c1f55701bd8a3592a0c4408d59c53
TELEGRAM_WEBHOOK_URL=https://your-hostname/api/telegram/webhook

NUXT_PUBLIC_SUPABASE_URL=https://spfdrbkkdgsiqjkprxnp.supabase.co
NUXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
