# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

# Postgres database settings
DATABASE_URL=
POSTGRES_HOST=95.46.96.165
POSTGRES_PORT=5432
POSTGRES_DATABASE=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_SSL=

# Internal adapter settings
APP_INTERNAL_API_SECRET=
INTERNAL_API_BASE_URL=/api

# Local object storage
STORAGE_ROOT=.data/storage
STORAGE_BASE_URL=
STORAGE_AVATAR_BUCKET=customer-avatars
STORAGE_PASSPORT_BUCKET=customer-passports
STORAGE_DOCUMENT_TEMPLATE_BUCKET=document-templates
STORAGE_DOCUMENT_TEMPLATE_UPLOAD_BUCKET=document-template-uploads
STORAGE_DOCUMENT_SIGNATURE_BUCKET=document-signatures
STORAGE_TASK_PHOTO_BUCKET=object-task-photos
NUXT_PUBLIC_STORAGE_BASE_URL=
NUXT_PUBLIC_STORAGE_PASSPORT_BUCKET=customer-passports

# Telegram integration settings
TELEGRAM_BOT_TOKEN=
TELEGRAM_DEFAULT_OBJECT_ID=1
TELEGRAM_WEBHOOK_SECRET=6f6c1f55701bd8a3592a0c4408d59c53
TELEGRAM_WEBHOOK_URL=https://your-hostname/api/telegram/webhook

